<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Test User</h2>
            <h4>test@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test User">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>toc</mat-icon>
        All tasks
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>alarm</mat-icon>
        In progress
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>done_all</mat-icon>
        Finished tasks
    </a>

    <mat-divider></mat-divider>

</mat-nav-list>